.navbar {
  background-color: rgb(23 23 23);
}

.navbar ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 1em;
  list-style-type: none;
}

.navbar ul a {
  color: rgb(229 229 229);
  text-decoration: none;
  font-family: inter;
  padding: 15px;
}

.navbar ul a.active {
  color: rgb(34 197 94);
}

.navbar ul a:hover{
  background-color: rgb(207	207	248);
}
